<head>
	<title>Post Processing Ultimate</title>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
	<link rel = "icon" type = "image/png" href = "images/icon.png">
	<meta name = "viewport" content = "width = device-height, initial-scale = 0.5">
</head>
<body>
	<div class = "header">
		<img src = "images/top.png" class = "banner">
		<hr>
	</div>
	<div class = "navigation">
		<ol>
			<li><a href = "#n1" class = "na">Installation</a></li>
			<li><a href = "#n2" class = "na">Picker</a></li>
			<li><a href = "#n3" class = "na">Blender</a></li>
			<li><a href = "#n4" class = "na">Effects</a>
				<ol>
					<li><a href = "#n41" class = "na">Blur</a></li>
					<li><a href = "#n42" class = "na">Chromatic Abberation</a></li>
					<li><a href = "#n43" class = "na">Fog</a></li>
					<li><a href = "#n44" class = "na">Industrial Camera</a></li>
					<li><a href = "#n45" class = "na">Noctovision</a></li>
					<li><a href = "#n46" class = "na">Old Film</a></li>
					<li><a href = "#n47" class = "na">Pixelize</a></li>
					<li><a href = "#n48" class = "na">Posterize</a></li>
					<li><a href = "#n49" class = "na">Sharpen</a></li>
					<li><a href = "#n410" class = "na">Threshold</a></li>
				</ol>
			</li>
			</li>
		</ol>
	</div>
	<div class = "content">
		<a name = "n1"><h1>Installation</h1></a>
		<hr>
		<p>- For Unity 2018:</p>
		<p>- Import PPSv2 using Package Manager - Window - > Package Manager -> All -> Post-processing -> Install</p>
		<p>- Download and import Effects & LUTs</p>
		<p>That's it! Now You can use brand new effects and LUTs!</p>
		<p>- If PPS is configured properly, You should be able to add Your brand new post-processing effect to Post Processing Volume</p>
		<p>- For Unity 2017:</p>
		<p>- First of all, You have to download, import and configure <a href = "https://github.com/Unity-Technologies/PostProcessing" class = "ca">Post Processing Stack v2</a></p>
		<p>- Download and import Effects & LUTs</p>
		<p>That's it! Now You can use brand new effects and LUTs!</p>
		<p>- If PPS is configured properly, You should be able to add Your brand new post-processing effect to Post Processing Volume</p>
		<div class = "tip">
			<p>Pro Tip!</p>
			<p>Just let it be under /Assets/Effects & LUTs - that's the best destination for working with the package without issues</p>
			<img src = "images/Installation/1.png" class = "wide">
		</div>
		<a name = "n2"><h1>Picker</h1></a>
		<hr>
		<p>- Add Post Processing Volume to a camera.</p>
		<p>- Add Unity Color Grading effect to the Volume profile.</p>
		<p>- Set effect Mode to Low Definition Range.</p>
		<p>- Open picker (Window/Post Processing Ultimate/LUT Picker), select camera and find the most suitable LUT texture.</p>
		<img src = "images/Picker/1.png" class = "wide">
		<a name = "n3"><h1>Blender</h1></a>
		<hr>
		<p>- Add Post Processing Volume to a camera.</p>
		<p>- Add Unity Color Grading effect to the Volume profile.</p>
		<p>- Set effect Mode to Low Definition Range.</p>
		<p>- Open blender (Window/Post Processing Ultimate/LUT Blender), select camera.</p>
		<img src = "images/Blender/1.png" class = "wide">
		<p>- Select LUT textures and blend them.</p>
		<p>- Save new texture, You can save it inside PPU_LUTs folder, so You texture will be avaiable in LUT Picker.</p>
		<img src = "images/Picker/1.png" class = "wide">
		<a name = "n4"><h1>Effects</h1></a>
		<hr>
		<a name = "n41"><h3>1. Blur</h3></a>
		<div class = "node">
			<img src = "images/Samples/1.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Intensity</td>
					<td class = "right">Effect Intensity</td>
				</tr>
				<tr>
					<td class = "left">Iterations</td>
					<td class = "right">Effect Iterations</td>
				</tr>
			</table>
		</div>
		<a name = "n42"><h3>2. Chromatic Abberation</h3></a>
		<div class = "node">
			<img src = "images/Samples/2.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Offset</td>
					<td class = "right">Channels offset</td>
				</tr>
			</table>
		</div>
		<a name = "n43"><h3>3. Fog</h3></a>
		<div class = "node">
			<img src = "images/Samples/3.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Distance</td>
					<td class = "right">Distance at which fog should appear</td>
				</tr>
				<tr>
					<td class = "left">Intensity</td>
					<td class = "right">Effect Intensity</td>
				</tr>
			</table>
		</div>
		<a name = "n44"><h3>4. Industrial Camera</h3></a>
		<div class = "node">
			<img src = "images/Samples/4.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Lines</td>
					<td class = "right">Lines visibility</td>
				</tr>
			</table>
		</div>
		<a name = "n45"><h3>5. Noctovision</h3></a>
		<div class = "node">
			<img src = "images/Samples/5.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Noise</td>
					<td class = "right">Noise Intensity</td>
				</tr>
			</table>
		</div>
		<a name = "n46"><h3>6. Old Film</h3></a>
		<div class = "node">
			<img src = "images/Samples/6.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Noise</td>
					<td class = "right">Noise Intensity</td>
				</tr>
				<tr>
					<td class = "left">Oscillation</td>
					<td class = "right">Oscillation amplitude</td>
				</tr>
			</table>
		</div>
		<a name = "n47"><h3>7. Pixelize</h3></a>
		<div class = "node">
			<img src = "images/Samples/7.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Horizontal</td>
					<td class = "right">Horizontal resolution</td>
				</tr>
				<tr>
					<td class = "left">Vertical</td>
					<td class = "right">Vertical resolution</td>
				</tr>
			</table>
		</div>
		<a name = "n48"><h3>8. Posterize</h3></a>
		<div class = "node">
			<img src = "images/Samples/8.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Colors</td>
					<td class = "right">Number of colors in each channel</td>
				</tr>
			</table>
		</div>
		<a name = "n49"><h3>9. Sharpen</h3></a>
		<div class = "node">
			<img src = "images/Samples/9.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Intensity</td>
					<td class = "right">Effect Intensity</td>
				</tr>
			</table>
		</div>
		<a name = "n410"><h3>10. Threshold</h3></a>
		<div class = "node">
			<img src = "images/Samples/10.png" class = "wide">
			<table class = "table6">
				<tr>
					<td class = "left">Intensity</td>
					<td class = "right">Effect Intensity</td>
				</tr>
				<tr>
					<td class = "left">Level</td>
					<td class = "right">Threshold level</td>
				</tr>
			</table>
		</div>
	</div>
	<div class = "footer">
		<a href = "https://assetstore.unity.com/publishers/25212"><img src = "images/bottom.png" class = "footerbanner"></a>
		<hr>
		<a href = "mailto:assetstore.ntec@gmail.com" class = "fa">Support: assetstore.ntec@gmail.com</a>
		<br>
		<a href = "https://twitter.com/DawidMoza" class = "fa">&copy; 2018 Dawid Moza</a>
	</div>
</body>