body {
	margin: 0;
	background-color: #111;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header {
	background: radial-gradient(#07f 0%, black 196%);
	filter: drop-shadow(0px 0px 2px black);
	margin: auto;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
}

.main {
	margin: auto;
	margin-bottom: 1%;
	width: 90%;
	overflow: hidden;
	padding: 1%;
}

.navigation {
	margin: 1%;
	position: sticky;
	top: 1%; 
	width: 225px;
	background: radial-gradient(#333 0%, black 196%);
	filter: drop-shadow(0px 0px 2px black);
	float: left;
	overflow: hidden;
}

.content {
	margin: 1%;
	background: radial-gradient(#333 0%, black 196%);
	filter: drop-shadow(0px 0px 2px black);
	overflow: hidden;
	padding: 1%;
	margin-left: 250px;
	color: #777;
	font-size: calc(12px + 0.5vw);
}

.footer {
	background: radial-gradient(#07f 0%, black 196%);
	filter: drop-shadow(0px 0px 2px black);
	margin: auto;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-size: calc(12px + 0.5vw);
}

.na:link {
	text-decoration: none;
	color: #777;
}

.na:visited {
    color: #777;
}

.na:hover {
    color: #aaa;
}

.na:active {
    color: #777;
}

.ca:link {
    color: #777;
}

.ca:visited {
    color: #777;
}

.ca:hover {
    color: #aaa;
}

.ca:active {
    color: #777;
}

.fa:link {
    color: #ddd;
	text-decoration: none;
}

.fa:visited {
    color: #ddd;
}

.fa:hover {
    color: #333;
}

.fa:active {
    color: #ddd;
}

.ta:link {
    color: #ddd;
	text-decoration: none;
	letter-spacing: 3px;
	padding: 2%;
	overflow: hidden;
	white-space: nowrap;
}

.ta:visited {
    color: #ddd;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
}

.ta:hover {
    color: #333;
	overflow: hidden;
	white-space: nowrap;
}

.ta:active {
    color: #ddd;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
}

.banner {
	max-width: 50%;
}

.footerbanner {
	max-width: 25%;
}

.wide {
	margin: 1%;
	max-width: 90%;
	border-style: solid;
    border-width: 5px;
}

.nodeimage {
	float: left;
	overflow: hidden;
	margin-right: 1%;
	border-style: solid;
    border-width: 3px;
}

.left {
	min-width: 100px;
	width: 1%;
}

.right {
	min-width: 100px;
	width: 2%;
}

.node {
	margin-top: 2%;
	filter: drop-shadow(0px 0px 1px black);
	overflow: hidden;
}

.table1 {
	filter: drop-shadow(0px 0px 16px rgb(0, 255, 255));
}

.table2 {
	filter: drop-shadow(0px 0px 16px rgb(0, 128, 256));
}

.table3 {
	filter: drop-shadow(0px 0px 16px rgb(255, 196, 0));
}

.table4 {
	filter: drop-shadow(0px 0px 16px rgb(36, 36, 84));
}

.table5 {
	filter: drop-shadow(0px 0px 16px rgb(64, 32, 32));
}

.table6 {
	filter: drop-shadow(0px 0px 16px rgb(0, 128, 255));
}

.table7 {
	filter: drop-shadow(0px 0px 16px rgb(64, 255, 64));
}

.table8 {
	filter: drop-shadow(0px 0px 16px rgb(128, 128, 128));
}

.table9 {
	filter: drop-shadow(0px 0px 16px rgb(196, 255, 48));
}

.table10 {
	filter: drop-shadow(0px 0px 16px rgb(255, 64, 196));
}

.table11 {
	filter: drop-shadow(0px 0px 16px rgb(148, 148, 255));
}

.table12 {
	filter: drop-shadow(0px 0px 16px rgb(255, 64, 64));
}

.table13 {
	filter: drop-shadow(0px 0px 16px rgb(128, 0, 196));
}

.tip {
	padding: 2%;
	text-align: center;
	border-color: rgba(255, 0, 0, 0.35);
	border-style: solid;
	border-width: 3px;
}

p {
	overflow: hidden;
}

h1 {
	color: #888;
}

tr {
	border-color: #222;
	border-style: solid;
}

td {
	width: 2%;
	text-align: center;
	color: #777;
	padding: 2px;
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 3px;
}

b {
    color: #333;
}

hr {
	margin: 1%;
	display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #777;
    padding: 0; 
}